443_2MASXJ09043699+5536025/2018-22GHz-2MASXJ0904+55.big.fits filter=lfs diff=lfs merge=lfs -text
484_NGC3079/2018-22GHz-NGC3079.big.fits filter=lfs diff=lfs merge=lfs -text
497_NGC3227/2017-22GHz-NGC3227.big.fits filter=lfs diff=lfs merge=lfs -text
242_MCG-01-13-025/2017-22GHz-MCG-01-13-025.big.fits filter=lfs diff=lfs merge=lfs -text
471_NGC2992/2014-22GHz-NGC2992.big.fits filter=lfs diff=lfs merge=lfs -text
738_Mrk477/2013-Mrk477.big.fits filter=lfs diff=lfs merge=lfs -text
439_Mrk18/2013-22GHz-Mrk18.big.fits filter=lfs diff=lfs merge=lfs -text
230_MCG-02-12-050/2017-22GHz-MCG-02-12-050.big.fits filter=lfs diff=lfs merge=lfs -text
453_MCG-01-24-012/2017-22GHz-MCG-01-24-012.big.fits filter=lfs diff=lfs merge=lfs -text
560_NGC3786/2014-22GHz-NGC3786.big.fits filter=lfs diff=lfs merge=lfs -text
74_NGC513/2017-long-22GHz-NGC513.big.fits filter=lfs diff=lfs merge=lfs -text
116_Mrk590/2017-22GHz-long-Mrk590.big.fits filter=lfs diff=lfs merge=lfs -text
163_NGC1194/2014-22GHz-NGC1194.big.fits filter=lfs diff=lfs merge=lfs -text
176_IRAS03219+4031/2018-22GHz-IRAS03219+4031.big.fits filter=lfs diff=lfs merge=lfs -text
416_Fairall272/2018-22GHz-Fairall272.big.fits filter=lfs diff=lfs merge=lfs -text
588_UGC7064/2013-22GHz-UGC07064.big.fits filter=lfs diff=lfs merge=lfs -text
679_NGC5231/2013-22GHz-NGC5231.big.fits filter=lfs diff=lfs merge=lfs -text
1198_NGC7679/2013-22GHz-NGC7679.big.fits filter=lfs diff=lfs merge=lfs -text
*/*.big.*.fits filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
1183_Mrk926/Mrk926.big.sc1.fits filter=lfs diff=lfs merge=lfs -text
140_NGC1052/NGC1052.big.sc1.fits filter=lfs diff=lfs merge=lfs -text
695_UM614/UM614.big.sc1.fits filter=lfs diff=lfs merge=lfs -text
385_UGC03995A/UGC03955A.big.b.fits filter=lfs diff=lfs merge=lfs -text
405_MCG+02-21-013/MCG+2-21-13.big.sc1.fits filter=lfs diff=lfs merge=lfs -text
615_NGC4388/NGC4388.big.sc1.fits filter=lfs diff=lfs merge=lfs -text
633_NGC4619/NGC4619.big.sc1.fits filter=lfs diff=lfs merge=lfs -text
682_NGC5252/NGC5252.big.sc1.fits filter=lfs diff=lfs merge=lfs -text
688_NGC5290/NGC5290.big.sc1.fits filter=lfs diff=lfs merge=lfs -text
754_Mrk1392/Mrk1392.big.sc1.fits filter=lfs diff=lfs merge=lfs -text
28_NGC235A/NGC235A.big.fits filter=lfs diff=lfs merge=lfs -text
43_Mrk352/Mrk352.big.fits filter=lfs diff=lfs merge=lfs -text
400_IC0486/IC0486.big.fits filter=lfs diff=lfs merge=lfs -text
461_NGC2885/NGC2885.big.fits filter=lfs diff=lfs merge=lfs -text
480_NGC3081/NGC3081.big.fits filter=lfs diff=lfs merge=lfs -text
766_NGC5899/NGC5899.bigger.a.fits filter=lfs diff=lfs merge=lfs -text
449_Mrk704/Mrk704.big.fits filter=lfs diff=lfs merge=lfs -text
586_Ark347/Ark347.big.fits filter=lfs diff=lfs merge=lfs -text
399_2MASXJ07595347+2323241/2MASXJ0759+23.big.fits filter=lfs diff=lfs merge=lfs -text
735_Mrk817/Mrk817.big.fits filter=lfs diff=lfs merge=lfs -text
565_KUG1141+371/KUG1141+371.big.fits filter=lfs diff=lfs merge=lfs -text
652_SBS1301+540/SBS1301+540.big.fits filter=lfs diff=lfs merge=lfs -text
767_CGCG319-007/CGCG319-007.big.fits filter=lfs diff=lfs merge=lfs -text
548_NGC3718/NGC3718.bigger.fits filter=lfs diff=lfs merge=lfs -text
567_2MASXJ11454045-1827149/2MASXJ1145-18.big.fits filter=lfs diff=lfs merge=lfs -text
609_M106/M106.big.fits filter=lfs diff=lfs merge=lfs -text
